@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-schibsted), ui-sans-serif, system-ui, sans-serif;
  --color-accent: #FFD230;
  --color-accent-hover: #e6bc1a;
  --color-accent-light: #fff8dc;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
